[Unit]
Description=Monea

[Service]
Type=simple
ExecStart=/bin/bash monea.sh
User=root
WorkingDirectory=/home/pi/Monea/src/monea

[Install]
WantedBy=multi-user.target